/*<!--中间内容========开始-->*/
.content .content-top{
    height: 48px;
    line-height: 48px;
}
.content .content-mid{
    width: 1200px;
    height:2450px ;
    position: relative;
}
/*.content-mid .big{*/
    /*height: 600px;*/
    /*width: 600px;*/
    /*background-color: red;*/
    /*overflow:hidden;*/
    /*position: absolute;*/


/*}*/
.liebiao{
    position: absolute;
    top:40px;
    left: 0;
    display: none;
    width: 221px;
    height: 434px;
    z-index: 5;
}
/*网页开关灯*/
#btnqimeng{
    background-color: white;
    height: 20px;
    width: 300px;
    border:1px solid gainsboro;
    margin-top: 20px;
    color: deeppink;
    cursor: pointer;
    position:fixed;
    top:-12px;
    right:550px;
    background-color: #EEEEEE;
    color: #323232;
}
.cls{
    background-color: black;
    opacity: 0.3;
    z-index: 5;
}
